<app-main-navbar />

<div class="page-container">
    <div class="reset-container">
            <form #passwordForm="ngForm" (ngSubmit)="changePassword()">
                <h2>Change Password</h2>

                <div class="form-group">
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" id="oldPassword" name="oldPassword" required [(ngModel)]="oldPassword"
                        #oldPasswordField="ngModel" placeholder="Enter old password" class="form-control" />

                    <small *ngIf="oldPasswordField.invalid && oldPasswordField.touched" class="error">
                        Old password is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword"
                        #newPasswordField="ngModel" placeholder="Enter new password" class="form-control" />

                    <small *ngIf="newPasswordField.invalid && newPasswordField.touched" class="error">
                        New password is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" placeholder="Confirm new password"
                        class="form-control" />

                    <small *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched " class="error">
                        Confirm password is required
                    </small>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn">
                    Change Password
                </button>
            </form>
    </div>
</div>