<div class="main-container">
    <br>
    <h1 class="page-title"> Fantasy Points </h1>
    <div class="carousel-container">
        <div class="carousel">
            <!-- card for displaying user info --> 
            <div class="carousel-item"> 
                <img 
                src = 'assets/user_icon.jpg'
                [alt] = game!.title 
                /> 
                <div class="carousel-info">
                    <h2> {{user?.name}} </h2>
                </div> 
                <div class="carousel-info">
                    <h3> Rank: {{user?.rank}}</h3> 
                    <h3> Points: {{user?.score}}</h3> 
                    <br> 
                    <br>
                </div>
            </div> 
            <!-- card for displaying game details -->
            <div class="carousel-item">
            <img 
                [src] = game!.image 
                [alt] = game!.title 
                /> 
                <div class="carousel-info">
                    <h3> {{game?.title}} </h3>
                </div>
            </div> 
        </div> 
    </div> 

    <!-- Navbar component -->
    <app-navbar (tabSelected)="onTabSelected($event)"></app-navbar>

    <!-- to display points summary -->
    <div class="game-container">   

        <!-- display summary by default -->
        <ng-container *ngIf="selectedTab === 'summary'; else otherContent">   
            <table class="fantasy-table">
            <thead>
                <tr>
                <th *ngFor="let heading of pointsSummary?.headings">{{ heading }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of pointsSummary?.rows">
                <td *ngFor="let cell of row">{{ cell }}</td>
                </tr>
            </tbody>
            </table> 

        <div class="additional-info">
            <h2><strong>Prediction:</strong> {{ pointsSummary?.match_prediction }}</h2>
            <p><strong>Prediction Bonus:</strong> {{ pointsSummary?.prediction_bonus }}</p>
            <p><strong>Total Points:</strong> {{ pointsSummary?.total_points }}</p> 
        </div>
        
    </ng-container>
        <!-- Use 'ng-template' for alternate content -->
        <ng-template #otherContent>
            <app-points-details [tab]="selectedTab"></app-points-details>
        </ng-template>
        <button class="go-back-button"(click)="goBack()"> Go Back</button>
    </div>
      
    <br> 
    <br>
</div>