<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<div class="container">
    <nav class="navbar">

        <ul class="nav-links">
            <li (click)="routeRanking()">Rankings</li>
            <li (click)="routeRanking()">Join League</li>
            <li (click)="routeRanking()">View Squad</li>

            <li class="dropdown" *ngIf="isLoggedIn(); else guestLinks"> Welcome {{username}} ▾
                <ul class="dropdown-content">
                    <li><a routerLink="/change-username">Change Username</a></li>
                    <li><a routerLink="/change-password">Change Password</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </li>

            <ng-template #guestLinks>
                <li (click)="routeLogin()">Login</li>
            </ng-template>
        </ul>
    </nav>
</div>