<app-main-navbar/> 
<div class="dropdown-container">
    
    <label for="game-select">Select a Game:</label>
    <select id="game-select" [(ngModel)]="selectedGame">
      <option *ngFor="let game of activeGames" [value]="game">{{ game.title }}</option>
    </select>
  
    
    <button (click)="onSelectGame()">Select</button>
  
    
    <!-- <div *ngIf="showGameDetails" class="info-container">
      <h3>Selected Game: {{ selectedGame }}</h3>
      <p><strong>Captain:</strong> {{ captain }}</p>
      <p><strong>Vice-Captain:</strong> {{ viceCaptain }}</p>
      <p><strong>Prediction:</strong> {{ prediction }}</p>
  
      
      <ul>
        <li *ngFor="let item of gameInfoList">{{ item }}</li>
      </ul>
    </div>
  </div>
   -->