<app-main-navbar />
<div class="page-container">
    <div class="reset-container">
        <div *ngIf="!token; else resetForm">
            <!-- Form 1: Email Input Form -->
            <form #emailForm="ngForm" (ngSubmit)="sendInstruction()">
                <h2>Forgot Password</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email" required email
                        placeholder="Enter your email" class="form-control" #emailField="ngModel" />
                    <div *ngIf="emailField.invalid && emailField.touched" class="error">
                        <small *ngIf="emailField.errors?.['required']">Email is required.</small>
                        <small *ngIf="emailField.errors?.['email']">Please enter a valid email address.</small>
                    </div>
                </div>
                <button type="submit" [disabled]="emailForm.invalid" class="btn">
                    Send Instruction
                </button>
            </form>
        </div>

        <!-- Form 2: Reset Password Form -->
        <ng-template #resetForm>
            <form #passwordForm="ngForm" (ngSubmit)="resetPassword()">
                <h2>Reset Password</h2>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword"
                        #newPasswordField="ngModel" placeholder="Enter new password" class="form-control" />

                    <small *ngIf="newPasswordField.invalid && newPasswordField.touched" class="error">
                        New password is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required minlength="8"
                        [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" placeholder="Confirm new password"
                        class="form-control" />

                    <small *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched " class="error">
                        New password must be at least 8 characters long.
                    </small>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn">
                    Reset Password
                </button>
            </form>
        </ng-template>
    </div>
</div>